.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#status{
  color: rgb(51, 168, 104);
  font-style:initial;
  font-size: smaller;
  font-weight: bolder;
}
#table_heading{
  color: rgb(134, 134, 134);
  font-size:small;
  font-weight: lighter;
  font-style:initial;
}
h1{
  text-align: left;
}
#main_heading{
  color: rgb(134, 134, 134);
  font-size:small;
  font-weight: lighter;
  font-style:initial;
}
